
body {
    color: navy;
	font-style: normal;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;

}

h1 {
	color: #ffc;
	background-color: #009;
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
	font-size: 2em;
}
h2  {
	text-decoration: overline;
	text-transform: capitalize;
	font-size: 1.5em;