
body {
    color: black;
	font-style: normal;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	background-color: #ffc0cb; 
	margin: 20px;
	padding: 0;
}
p {
	line-height: 21px;
}

h1 {
	color: #ffc;
	background-color: #add8e6;
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
	font-size: 2em;
	margin: 0;
	margin-bottom: 7px;
	padding: 4px;
	text-align: center;
	letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #3b8bd;
}
h2  {
	color: white;
    background-color: #aaf0d1;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}
h3 {
    color: black;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: black;
    font-style: italic;
}

table {
    background-color: #aaf0d1;
}